@model IEnumerable<ShopWebApplication.Models.Order>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated)
{
    if (Model.SelectMany(c => c.OrderItems).Any())
    {
        <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-10 col-xl-8">
                        <div class="card" style="border-radius: 10px;">

                        <div class="card-body p-4">
                            @foreach (var order in Model)
                            {
                                <div class="card-header px-4 py-3">
                                    <h5 class="text-muted mb-0">Дякуємо за замовлення, <span style="color: #a8729a;">@order.ClientInfo?.FirstName</span>!</h5>
                                </div>
                                <div class="card shadow-0 border mb-3">
                                    <div class="card-body">
                                        @foreach (var orderItem in order.OrderItems)
                                        {
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="@orderItem.Product.ImageUrl" class="img-fluid" alt="Product Image">
                                                </div>
                                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0">@orderItem.Product.ProductName</p>
                                                </div>
                                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">Кількість: @orderItem.OrderItemQuantity</p>
                                                </div>
                                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">Розмір: @orderItem.Size.SizeName</p>
                                                </div>
                                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">@orderItem.OrderItemQuantity × @orderItem.Product.Price &#8372;</p>
                                                </div>
                                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                    <p class="text-muted mb-0 small">@((int)(orderItem.Product.Price * orderItem.OrderItemQuantity)) &#8372;</p>
                                                </div>
                                            </div>
                                            <hr class="my-3" style="background-color: #e0e0e0; opacity: 1;"> <!-- Reduced margin here -->
                                        }
                                        <div class="row d-flex align-items-center">
                                            <div class="col-md-10">
                                                <!-- Progress bar here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                            <!-- Card footer with total paid -->
                            <div class="card-footer border-0 px-4 py-3" style="background-color: #000; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; ">
                                <!-- Reduced padding here -->
                                <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Разом сплачено: <span class="h2 mb-0 ms-2">&#8372;@Model.Sum(order => order.Price)</span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class="mt-4">Замовлень наразі немає. Перейдіть до каталогу, щоб обрати товар.</div>
    }
}
else
{
    <div class="mt-4">Будь ласка, <a href="/Account/Login">увійдіть</a> або <a href="/Account/Register">зареєструйтесь</a>.</div>
}
